header {
  display: flex;
  flex-direction: column;
}

#booki_logo {
  align-self: flex-start;
  margin-top: 25px;
  height: 20px;
}

/* --- NAV DESKTOP --- */

nav {
  display: flex;
  justify-content: space-between;
}

header li {
  list-style: none;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: flex-end;
  padding-top: 25px;
}

header ul a {
  padding-top: 22px;
  border-top: 2px solid transparent;
  border-bottom: none;
  transition: border-color 0.2s ease;
}

header ul a:hover {
  border-top-color: var(--main-color);
  color: var(--main-color);
}

.header-intro {
  margin-top: 30px;
}

.header-title {
  font-size: 22px;
  margin-bottom: 8px;
  padding-top: 30px;
  line-height: 1.3;
}

.header-desc {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 15px;
}

/* --- NAV MOBILE --- */
@media (width < 768px) {
  #booki_logo {
    display: block;
    height: 20px;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  nav > a {
    /* enfant direct */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79px;   
  }

  nav ul.mobile-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 0;
  }

  nav ul.mobile-nav li {
    flex: 1 1 50%;
    text-align: center;
    list-style: none;
  }

  nav ul.mobile-nav li a {
    display: block;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 18px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s, color 0.3s;
  }

  nav ul.mobile-nav li a:hover,
  nav ul.mobile-nav li a.active {
    border-bottom-color: var(--main-color);
    color: var(--main-color);
  }

  /* Supprimer les bordures et paddings du style global */

  header ul a {
    border-top: none;
    border-bottom: none;
    padding-top: 0;
  }
}
